// -----------------------------------------------------------------------------
//
//      Config - Mixins
//
// -----------------------------------------------------------------------------

@mixin break($size) {
  $breakpoints: (
    xs: 320px,
    sm: 480px,
    md: 640px,
    lg: 840px,
    xl: 1020px,
    xx: 1200px
  );

  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}
