/* -----------------------------------------------------------------------------

  Elements - Headings

----------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-neutral-1;
  font-weight: 700;
  line-height: map-get($line-height, sm);
}
